<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Optalex tech solution</title>
        <link rel="stylesheet" href="/styles/main.css" />
        <link
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
          crossorigin="anonymous"
        />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/uuid/8.3.2/uuidv4.min.js"></script>
    
      </head>
<body>
    <nav class="navbar navbar-expand-lg  d-flex">
        <div class="container">
          <a class="navbar-brand" href="#"
            ><img src="./images/optaLogoPng.png" alt="logo" height="40px" />  Optalex
            Tech Solutions</a
          >
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse text-center" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/">Services</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/policy">Privacy Policy</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <div class="container">
        <div
            class="row justify-content-center align-items-center g-2"
        >
            <div class="col-lg-6 privacy">
                <h1 class="m-3">Privacy Policy</h1>
                <h3></h3>
              <p class="mt-5">
                OPTALEX TECH SOLUTIONS (“ <strong>OPTALEX TECH SOLUTIONS</strong>  ,” “we,” “us” or “our”) is committed to maintaining your privacy and informing you of our privacy practices. This online privacy policy and agreement (the “Privacy Policy”) covers how we collect, use, and treat data and information, including Personal Information (as defined below), that we collect, receive, process, or store in connection with our business and business activities (the “Business Practices”), which include the referral of legal and other services (collectively, the “Services”) (the Business Practices and Services are collectively referred to as the “Business”).
              </p>

              <p class="mb-5">
                Since we are a referral source to law firms, we may share the information you provide with law firms or companies such as Drive Digital Ads, Rufo law group LLC, B1 Marketing Group, that law firms hire to refer consumers who may need legal assistance. Such companies, may hire third parties (including Intake Centers) such as Intake On Demand to perform certain intake and obtain personal information that is shared between such entities for the sole and exclusive purpose of determining whether you may be an appropriate potential client and providing documents to assist in engaging the law firm. They will then forward your personal information to a law firm if you wish to engage the legal services.
              </p>

              <p class="mb-3">
                This website is not directed to visitors from outside of the United States. If you reside outside of the United States, please refrain from accessing or using our website.
              </p>

              <h5 class="my-5">   <strong>1. scope of the privacy policy</strong></h5>
              <p class="m-3">
                <strong>1.1 Application of this Privacy Policy</strong> This Privacy Policy applies to anyone providing us information including:

                <ul>
                    <li class="my-3">Existing clients, prospective clients, and their agents or other authorized representatives (collectively, “Clients”), who have submitted consultation request forms or other related information to OPTALEX TECH SOLUTIONS by any means, including electronically or in person, in connection with the Business;</li>
                    <li class="my-3">Contractors, vendors, and other service providers, and local counsel to whom we refer matters (collectively, “Service Providers”); and</li>

                    <li class="my-3">Visitors of our website located at https://optalextechsolutions.com/ (the “Website”) (collectively, “Site Visitors”).</li>
                </ul>
              </p>

              <p class="my-3">We use the term “you” to refer to (i) Clients; (ii) Service Providers; and (iii) Site Visitors (as the context permits).</p>

              
              <p class="m-3"> <strong> 1.2 Client Engagements.</strong> In the process of being referred to a law firm and completing an engagement agreement, you may provide us or other designees with a range of information, including certain sensitive information, such as your medical information and driver’s license. The engagement letter and any such law firm attorney-client, ethical, and other obligations will control treatment of that information in conjunction with this policy which governs information collected before your engagement of any law firm or attorney.</p>

              <p class="m-3"> <strong>1.3 Other Exclusions from this Privacy Policy.</strong>        If we provide you with links to other websites, then they are solely for your convenience and reference and we are not responsible for the privacy practices or content on, or accessed through, such links or websites.</p>


              <h5 class="my-5"><strong>2. Your Consent to this Privacy Policy</strong></h5>

              <p class="m-3"><strong>2.1 Your Consent If You are a Site Visitor.</strong>    By accessing and using our Website as a Site Visitor, you are acknowledging that you have read and understood this Privacy Policy, and agree to be legally bound by it. If you do not agree with the terms of this Privacy Policy, please refrain from accessing or using our Website.</p>


              <p class="m-3"><strong>2.2 Your Consent If You are Not a Site Visitor.</strong> Except as provided in Section 2.3 (Consent by User Acting in a Representative Capacity), your consent to, and your affirmative agreement that you have read and agree to, this Privacy Policy shall be by providing us information in connection with our Business. For example, you may consent to this Privacy Policy by submitting information to us related to your case consultation with us or your application to our scholarship program. In any case, by providing us information, including Personal Information, you are affirmatively agreeing that you have read and agree to this Privacy Policy, and to be legally bound by it. </p>

              <p class="m-3"> <strong>  2.3 Right to Withdraw Consent.</strong> You have the right to withdraw your consent at any time, in accordance with Section 13 (Your Choices Regarding Your Personal Information; Opting Out).</p>

              <h5 class="my-5"> <strong>3 The Information We Collect.</strong></h5>

              <p class="m-3"> <strong> 3.1 Personal Information. </strong>      We collect certain information that identifies you as an individual (collectively, “Personal Information“). The Personal Information we collect may include the following:
              <ul class="m-3">
                <li>Your name;</li>
                <li>Your address;</li>
                <li>Your email address;</li>
                <li>Your phone number; </li>
                <li>Your gender</li>
                <li>Health information;</li>
                <li>Your browsing history when logged into our Website;</li>
                <li>Device identifiers, such as cookies;</li>
                <li>Device information, such as hardware and software settings;</li>
                <li>Other characteristics of a user device, which, by themselves or taken in conjunction with other information, are sufficient to distinguish that user device over time from a population of other user devices;</li>
                <li>IP addresses and log information, such as your device’s name, the type and version of your web browser, and referrer addresses that can function to identify a user device; and</li>
                <li>Tracking information that we, or a third party, collects.</li>
              
              </ul>
              
              </p>

              <p class="m-3"> <strong>3.2 Online Activity Information.</strong>       We also collect technical and device-related information through our Website and third-party analytics tools that we use (collectively, “Online Activity Information“). Sometimes Online Activity Information can be associated with your Personal Information, in which case we will treat it as Personal Information (as described in Section 3.4 (Treatment of Combined Information)). Otherwise we consider, and treat, Online Activity Information as Anonymous Information.</p>

              <p class="m-3"> <strong>3.3 Anonymous Information.</strong>       We also collect, process, and/or use information that does not identify you or your devices, including Personal Information that has been made anonymous by: (i) removing identifying fields and aggregating the information with other information so that individual subjects of the information cannot be re-identified, or (ii) anonymizing the information with techniques that remove or modify the identifying data so as to prevent re-identification of the anonymized information (collectively, “Anonymous Information“). Information that meets these criteria might include, for example, demographic information, statistical information (e.g., page views and hit counts), and general tracking information. We use Anonymous Information for our business operations, for example, to engage in marketing and other activities in a manner that protects our customers. Since Anonymous Information does not include Personal Information, it is outside the scope of this Privacy Policy.</p>

              <p class="m-3"> <strong>3.4 Treatment of Combined Information.</strong>     To enable us to better understand the characteristics of our users and/or to conduct the Business, we may link your Personal Information with Online Activity Information associated with you or other Anonymous Information. If we combine or associate Online Activity Information or other Anonymous Information with your Personal Information, then we will treat the resulting combination as Personal Information.</p>

              <p class="m-3"> <strong>3.5 Description of Collection.</strong> We recognize the twelve (12) broad categories of personal information referenced in the CCPA that a business may collect about a consumer. In particular, we have collected the following categories of personal information from consumers within the last twelve (12) months:</p>

              <table class=" table my-5 ">
                <thead >
                  <th><strong>category</strong></th>
                  <th></th>
                  <th></th>
                  <th>shared</th>
                </thead>

                <tbody>
                  <tr>
                    <td>A. Identifiers</td>
                    <td>
                      A real name, alias, postal address, unique personal identifier, online identifier, Internet Protocol address, email address, account name, Social Security number, driver’s license or other similar identifiers.</td>

                      <td>YES</td>
                      <td>YES</td>

                  </tr>
                  <tr>
                    <td>B. Personal information categories listed in the California Customer Records statute (Cal. Civ. Code § 1798.80(e)).</td>
                    <td>A name, signature, Social Security number, physical characteristics or description, address, telephone number, employment, bank account number, credit card number, debit card number, or other financial information.</td>
                    <td>YES</td>
                    <td>YES</td>
                  </tr>

                  <tr>
                    <td>C. Protected classification characteristics under California or federal law.</td>
                    <td>Age (40 years or older), race, color, national origin, citizenship, marital status, physical or mental disability, sex (including gender, gender identity, gender expression, pregnancy or childbirth and related medical conditions), sexual orientation, veteran or military status, genetic information (including familial genetic information).</td>
                    <td>YES</td>
                    <td>YES</td>
                  </tr>

                  <tr>
                    <td>D. Commercial information.</td>
                    <td>Records of personal property, products or services purchased, obtained, or considered, or other purchasing or consuming histories or tendencies.</td>
                    <td>NO</td>
                    <td>NO</td>
                    
                  </tr>

                  <tr>
                    <td>E. Biometric information.</td>
                    <td>Genetic, physiological, behavioral, and biological characteristics, or activity patterns used to extract a template or other identifier or identifying information, such as, fingerprints, faceprints, and voiceprints, iris or retina scans, keystroke, gait, or other physical patterns, and sleep, health, or exercise data.</td>
                    <td>YES</td>
                    <td>YES</td>
                  </tr>

                  <tr>
                    <td>F. Internet or other similar network activity</td>
                    <td>Browsing history, search history, information on a consumer’s interaction with a website, application, or advertisement.</td>
                    <td>YES</td>
                    <td>YES</td>
                  </tr>

                  <tr>
                    <td>G. Geolocation data</td>
                    <td>Physical location or movements.</td>
                    <td>YES</td>
                    <td>YES</td>
                  </tr>

                  <tr>
                    <td>H. Sensory data.</td>
                    <td>Audio information (including voice recordings).</td>
                    <td>NO</td>
                    <td>NO</td>
                  </tr>

                  <tr>
                    <td>I. Professional or employment-related information.</td>
                    <td>Current or past job history or performance evaluations</td>
                    <td>NO</td>
                    <td>NO</td>
                  </tr>

                  <tr>
                    <td>J. Non-public education information (per the Family Educational Rights and Privacy Act (20 U.S.C. Section 1232g, 34 C.F.R. Part 99)).</td>
                    <td>Education records directly related to a student maintained by an educational institution or party acting on its behalf, such as grades, transcripts, class lists, student schedules, student identification codes, student financial information, or student disciplinary records.</td>
                    <td>NO</td>
                    <td>NO</td>
                  </tr>

                  <tr>
                    <td>K. Inferences drawn from other personal information.</td>
                    <td>Profile reflecting a person’s preferences, characteristics, psychological trends, predispositions, behavior, attitudes, intelligence, abilities, and aptitudes.</td>
                    <td>NO</td>
                    <td>NO</td>
                  </tr>

                  <tr>
                    <td>L. Sensitive Personal Information</td>
                    <td>Any information that reveals a consumer’s SSN, driver’s license number, or passport number, account credentials, precise geolocation, racial and ethnic origin, religious beliefs, biometric data, personal information concerning a consumer’s health or sex life or sexual orientation, as well as contents of mail, e-mail and text messages</td>
                    <td>YES</td>
                    <td>YES</td>
                  </tr>

                </tbody>
              </table>

              <p class="mt-5">Personal information does not include publicly available information from government records, information relating to our job applicants, employees, contractors or other personal, de-identified or aggregated consumer information, or information otherwise legally excluded from the scope, such as information collected pursuant to the GLBA.</p>


              <p class="mt-5">In the preceding twelve (12) months, we have disclosed the following categories of personal information to the third parties listed above for a business purpose:

                <ul class="m-3">
                  <li>Category A: Identifiers.</li>
                  <li>Category B: California Customer Records personal information categories.</li>
                  <li>Category C: Protected Classifications</li>
                  <li>Category E: Biometric Information</li>
                  <li>Category F: Internet or other similar network activity</li>
                  <li>Category G: Geolocation data.</li>
                  <li>Category H: Sensory data</li>
                  <li>Category L: Sensitive Personal Information</li>
                </ul>
              </p>
              
              <h5 class="my-5"> <strong>4. How We Collect this Information</strong></h5>

              <p>We collect the above information through the following means and technologies:</p>

              <p class="m-3"><strong> 4.1 Contacting </strong>OPTALEX TECH SOLUTIONS You can contact us with questions or comments. In order to communicate with us, you must provide certain Personal Information. By communicating with us for these purposes, you may provide us with your email address and other Personal Information. In these instances, we use any information you provide to us for the purposes for which you submit the information.</p>


              <p class="m-3"> <strong>4.2 Questionnaires and Surveys.</strong> We may allow you to participate in surveys and questionnaires, which we may post on the Website or otherwise provide to you from time to time. You are free to choose whether you participate in a survey or questionnaire. We may ask that, in addition to providing your responses, you also provide Personal Information. In these instances, we use any information that you provide to us for the purposes for which you submit the information. We may also add your Personal Information to your customer profile, as well as for advertising and marketing purposes. Survey and questionnaire information may be used for the purposes of monitoring or improving our Business. As further set out in Section 13 (Your Choices Regarding Your Personal Information; Opting Out), please understand that you will not be allowed to “opt out” of formal notices related to our Business, such as the operation of the Website, and legal, and other related notices concerning your relationship with us.</p>


              <p class="m-3"> <strong>4.3 Newsletters.</strong>  You may choose to sign up to receive optional communications from us. In addition, if you have previously provided us with your email address, then we may choose to send news, bulletins, marketing materials, or other information to you. We will use Personal Information to determine which communications may interest you, and to send such communications. If we choose to undertake such communications, you will have the ability to opt out of receiving these communications as provided in Section 13 (Your Choices Regarding Your Personal Information; Opting Out).</p>


              <p class="m-3"> <strong> 4.4 Submitted Content</strong>     . As further set out below, we may provide you with the ability to submit content to us for our internal use or to submit content to us for public consumption (collectively, “Submitted Content”). If you include any Personal Information relating to others in your Submitted Content, then you represent that you have full permission and authority to do so.</p>

              <p class="m-5"> <strong>4.3.1 Submitted Content Provided to Us for Internal Use.</strong>  We may provide you with the ability to submit Submitted Content to us (either directly or through a third-party service), and we may also provide content to you, in order for us to better provide Services. For example, we may allow you to provide us with feedback related to the Business. If you provide us with such Submitted Content, we will protect it in accordance with this Privacy Policy.</p>

              <p class="m-3"> <strong> 4.4 Cookies.</strong> A cookie is a small amount of data, which often includes an anonymous unique identifier that is sent to your computer or mobile device from a website or a mobile application and stored on your hard drive. Cookies can be used to provide you with a tailored user experience and to make it easier for you to use a website or a mobile application upon future visits. We may include cookies on our Website, and use them for a variety of purposes, such as to recognize you when you return to our Website and to remember your preferences. You may set your browser or mobile device so that it does not accept cookies. Cookies may need to be enabled, however, if you wish to access certain personalized features of the Website.</p>

              <p class="m-3"> <strong>4.5 IP Addresses; Logs.</strong>       We may automatically receive and record information in our server logs from your browser or mobile device, including your IP address (the Internet address of your computer), your computer’s name, the type and version of your web browser or mobile device operating system, referrer addresses, and other generally-accepted log information. We may also record page views (hit counts) and other general statistical and tracking information, which will be aggregated with that of other users in order to understand how our Website is being used, and for security and monitoring purposes.</p>


              <p class="m-3"> <strong>4.6 Tags.</strong> We may use so-called “pixel tags” – small graphic images (also known as “web beacons” or “single-pixel gifs”) – to tell us what parts of our Website have been visited or to measure the effectiveness of searches you perform on our Website. Pixel tags also enable us to send email messages in a format that you can read and they inform us whether emails have been opened. Pixel tags also help us ensure that our messages are of interest to you.</p>

              <p class="m-3"> <strong>4.7 Click-Throughs.</strong> We may send email messages, which use a “click-through URL” linked to content related to our Business. When you click one of these URLs, you pass through our web server before arriving at the destination web page. We may track this click-through data to help determine interest in particular topics and to measure the effectiveness of our customer communications.</p>

              <p class="m-3"> <strong>4.8 Configuration.</strong> In order to determine whether your computer or mobile device is supported by our system, we may collect certain Anonymous Information. This information includes, but may not be limited to, your operating system and browser, the presence of any software that our Website may require to operate with your computer or mobile device, or other third-party software on your computer or mobile device.</p>

              <p class="m-3"> <strong>4.9 Other Uses.</strong>    In addition to the uses specifically identified in this Section 4 (How We Collect this Information), there may be instances where you request information or other Services from us that are not described in this Privacy Policy. In that instance, we will use Personal Information that you submit in order to provide such information or Services to you.</p>


              <p class="m-3"> <strong>4.12 Provision of Personal Information Offline.</strong>  We may ask you to provide us with Personal Information when you speak with us on the phone, or otherwise interact with us offline (“Offline Personal Information”). If you provide Offline Personal Information to us, we will strive to provide you with either verbal and/or written notice of this Privacy Policy so that you can review it. For the avoidance of doubt, we treat any Offline Personal Information that you provide to us as Personal Information under this Privacy Policy.</p>


              <h5 class="my-5"> 5 Other Essential or Internal Uses of Information</h5>

              <p class="m-3">We may also use the information that we collect as we believe to be necessary or appropriate for certain essential purposes, including:

                <ul class="m-3">
                  <li>To comply with applicable law and legal process;</li>
                  <li>To respond to requests from public and government authorities, including public and government authorities</li>
                  <li>To detect, prevent, or investigate potential security incidents or fraud;</li>
                  <li>To facilitate the functionality of our Website;</li>
                  <li>To enforce our terms and conditions;</li>
                  <li>To protect our operations or those of our affiliates;</li>
                  <li>To protect our rights, privacy, safety or property, security and/or that of our affiliates, you or others; and</li>
                  <li>To allow us to pursue available remedies or limit the damages that we may sustain.</li>
                </ul>
              </p>

              <p class="m-3"> <strong>How We Disclose this Information</strong>
                We value your privacy, and we disclose the information we collect only in the manner set out below.</p>

                <p class="m-3"> <strong>5.1 Marketing Intermediaries.</strong>
                   We may be hired by a referral source to law firms and will share your information which they may use to contact you and perform general intake through service providers who may refer you to a law firm after conducting intake.</p>

                   <p class="m-3"> <strong>5.2 Our Service Providers.</strong>   We engage Service Providers to perform functions on our behalf, and these functions may include providing legal services as our local counsel, maintaining the Website, collecting information, responding to and sending email or other messages, data analysis, and other functions useful to our Business. In this capacity, we may provide Service Providers with Personal Information, Online Activity Information, and Anonymous Information as applicable. We will seek to only provide Service Providers with information so that they can perform their required functions.</p>


                   <p class="m-3"> <strong>5.3 Questions of Harm; Legal Process.</strong>  We will reveal your Personal Information to the extent we reasonably believe that we are required to do so by applicable law.</p>

                   <p class="m-3"> <strong>5.4 Corporate Transactions.</strong> We shall be entitled to transfer information that we collect (including Personal Information) to a third party in connection with or in contemplation of a reorganization, merger, sale, joint venture, assignment, transfer, or other disposition (including a disposition in connection with a bankruptcy or similar proceedings) of all or substantially all assets or stock of the business unit or division responsible for the information under this Privacy Policy; provided the acquiring third party has agreed to safeguard your Personal Information with protections that are compatible with those set out in this Privacy Policy.</p>
                   

                   <p class="m-3"> <strong>5.5 Our Affiliates.</strong>. We may choose to rely on and share the information we collect with our affiliates. By “affiliate” we mean an entity that is closely related to us, such as an entity that controls, is controlled by, or is under common control with, OPTALEX TECH SOLUTIONS. Our affiliates will be bound by the terms of this Privacy Policy</p>


                   <p class="m-3"> <strong>5.5 Sale of Sharing of Personal Information</strong>. In the preceding twelve (12) months, we have sold personal information to law firms as a referral source.
                  
                    <ul class="m-3">
                      <li> <strong>1. Advertising</strong></li>
                      <p>We participate in advertising to keep the public apprised on our Services and associated content. As further set out below, we may use the information you shared with us to provide you with advertising or promotions based on your interaction with our Business.</p>
                    </ul>
                  </p>
                  
                  <p class="m-3"> <strong>5.6 Our Use of Anonymous Data for Advertising.</strong> Like many companies, we utilize targeted banners and ads and may display these to you when you are on other websites and mobile applications. We do this using a variety of digital marketing networks and ad exchanges in addition to using a range of advertising technologies like web beacons, pixels, ad tags, cookies, and mobile identifiers, as well as specific services offered by some sites and social networks. The banners and ads that you may see displayed will be based on information we hold about you, such as your previous use of our Website. This may include your search history on our Website, the content you read on our Website, or banners or ads you have previously clicked.</p>

                  <p class="m-3"> <strong>5.7 Advertisers Use of Anonymous Data for Advertising.</strong> Additionally, we may include the use of ad banner partners for the serving and/or targeting of ads, promotions, and other marketing messages. These ads may be provided, in some cases, by a third-party ad service provider or advertiser (collectively, “Advertisers”). Additionally, Advertisers may place or utilize their own cookies on your browser and may use Anonymous Information about your visit to our Website. If an Advertiser requests that you provide Personal Information to it or otherwise accept its cookie on your browser, please be aware that the Advertiser’s use and collection of this information and use of any cookies will be governed by its privacy policy or other relevant agreement, and not our Privacy Policy. We recommend that you review the Advertiser’s privacy policy before providing Personal Information. You may choose not to receive targeted advertising from certain ad networks, data exchanges, marketing analytics, and other service providers as indicated at: http://www.aboutads.info/choices/.
                  
                  <ol type="1" class="m-3">
                    <li> <strong>Information to Third Parties</strong>
                      Our Website includes links to third party websites offering services that augment those services offered by us. Those third parties determine their own data handling practices – any information that you submit to third parties are not governed by this Privacy Policy.</li>

                      <li> <strong>How We Safeguard the Information We Collect</strong>
                        We recognize the sensitivity of our users’ Personal Information and we have put in place security systems designed to prevent unauthorized access to or disclosure of this information. Our security systems include physical, technical, and administrative information security controls, and we take commercially reasonable steps to secure and safeguard such Personal Information in accordance with applicable law.</li>

                        <li> <strong>Our Retention of Data</strong>
                          We retain Personal Information for the period of time necessary to fulfill the purposes for which we obtained the Personal Information and consistent with applicable law. We use the following criteria to set our retention periods: (i) the duration of our relationship with you; (ii) the existence of a legal obligation as to the retention period; and (iii) the advisability of retaining the information in light of our legal position (for example, in light of applicable statutes of limitations, litigation, or regulatory investigations).</li>

                          <li><strong>Accuracy and Minimization of Data</strong>
                            We take reasonable steps (i) to maintain the accuracy of the Personal Information we process, and (ii) to limit the Personal Information that we process to that which is reasonably necessary for the purposes for which we obtained the information.</li>

                            <li><strong>Your Choices Regarding Your Personal Information; Opting Out</strong></li>

                           
                  </ol>
                  
                  </p>

                  <p><strong>6 Unsubscribing to Marketing Communications.</strong> If you no longer wish to receive bulletins, updates, or other marketing-related materials from us, you can opt out of this Service by either (i) following the “unsubscribe” instructions located near the bottom of each email message, or (ii) contacting us as provided in Section 19 (Contact Us).</p>

                  <p><strong>7. Discretionary Account Information.</strong> To allow appropriate control over Personal Information, you can view, change, or update discretionary information that you have previously submitted either by contacting us as provided in Section 19 (Contact Us) below.</p>

                  <p><strong>8.  Access, Deletion, and Do-Not-Sell Requests.</strong> DEPENDING ON YOUR STATE OF RESIDENCE AND WHETHER AN EXEMPTION APPLIES, YOU MAY REQUEST ACCESS TO YOUR PERSONAL INFORMATION, DELETIN OF SAME AND THAT WE NOT SELL OR SHARE YOUR PERSONAL INFORMATION. </p>

                  <p>Specifically, we provide the following rights with respect to your Personal Information:</p>

                  <p><strong>9. Copy of Personal Information </strong>  You may request a copy of the following: (i) the categories of Personal Information we collected about you; (ii) the categories of sources from which the Personal Information is collected; (iii) the business or commercial purpose for collecting or selling (if applicable) the Personal Information; (iv) the categories of third parties with whom we share Personal Information; and (v) the specific pieces of Personal Information we have collected about you.</p>

                  <p><strong>10. Deletion of Personal Information.</strong>  You may request that we delete your Personal Information. Note that deletion requests are subject to a number of limitations, for example, we may keep Personal Information as permitted by law, such as for tax or other record keeping purposes, to maintain an active account, to process transactions and facilitate customer requests, and for other internal business purposes consistent with the terms under which it was collected.</p>

                  <p><strong>11. Do-Not-Sell Requests.</strong> You may request that we do not share or sell your Personal Information with third parties to be used for purposes not described in this Privacy Policy. The California Consumer Privacy Act refers to this as a “Do Not Sell” request. OPTALEX TECH SOLUTIONS only seeks to share Personal Information with service providers and others described above for purposes identified in this Privacy Policy. Please note, however, that Online Activity Information or Anonymous Information collected by service providers providing pixels or other third party technologies on our Website could potentially be used by those service providers for their own purposes, some of whom may be able to associate such information with you based on other information they have collected independently (not from OPTALEX TECH SOLUTIONS ). We will endeavor to block such sharing upon request.</p>

                <p><strong>12. Response to Requests.</strong> Please be advised that OPTALEX TECH SOLUTIONS  will fulfill these requests in its reasonable discretion and in a manner consistent with any applicable law. Likewise, we will aim to complete such requests as soon as reasonably practicable and in a manner consistent with any applicable law. If you otherwise have concerns or objections with our processing of your Personal Information, please contact us as provided in Section 19 (Contact Us).</p>

                <p><strong>12. Anonymous Information.</strong> We will not delete Anonymous Information from our database other than in the regular course of business, and nothing in this Privacy Policy restricts our use of Anonymous Information.
                
                  <ol type="1">
                    <li><strong>Advisory Regarding Participation by Children and Teens</strong>
                      Under U.S. Federal Law (as reflected in the Children’s Online Privacy Protection Act), WE DO NOT COLLECT OR STORE ANY PERSONAL INFORMATION FROM INDIVIDUALS THAT WE KNOW ARE UNDER THE AGE OF 13. If you wish further information concerning privacy policies in general, and concerning online social networking and safety, you should visit the following website: http://www.ftc.gov/privacy/index.html.</li>
                      <li><strong>Relationship to Terms of Use</strong>
                        This Privacy Policy must be read in conjunction with our Terms of Use, and the provisions of our Terms of Use are incorporated herein. To the extent the Terms of Use conflict with the terms of this Privacy Policy, the terms of this Privacy Policy will control.</li>

                        <li><strong>Notice of Privacy Rights to California Residents</strong>
                          The following provisions of this Section 16 (Notice of Privacy Rights to California Residents) apply if you are a California resident.</li>
                  </ol>
                
                </p>

                <p><strong>13. Shine the Light Law.</strong> California law requires certain businesses to respond to requests from California users who ask about business practices related to disclosing Personal Information to third parties for direct marketing purposes. The California “Shine the Light” law further requires us to allow California residents to opt out of certain disclosures of Personal Information to third parties for their direct marketing purposes.</p>

                <p><strong>14. California Consumer Privacy Act.</strong> OPTALEX TECH SOLUTIONS makes the following disclosures regarding the California Consumer Privacy Act:</p>

                
                <p><strong>15.No Financial Incentives.</strong> OPTALEX TECH SOLUTIONS does not provide a financial incentive or a price or service difference to individuals in exchange for the retention or sale of their Personal Information. We may send offers to those individuals subscribing to our marketing communications and, unless an individual has opted out of such communications, the individual will continue to receive such communications irrespective of whether a disclosure, deletion, or “Do Not Sell” request has been submitted. OPTALEX TECH SOLUTIONS does not offer financial incentives to deter consumers from making such requests. OPTALEX TECH SOLUTIONS  will not discriminate against any consumer for exercising their privacy rights, including those provided by applicable law.</p>

                <P><strong>Consumer Reporting</strong>  OPTALEX TECH SOLUTIONS will endeavor to report consumer request metrics when they become available</P>

                <P><strong>Questions.</strong> If you have any questions about our privacy practices, including in connection with the California Consumer Privacy Act, please contact us as directed in Section 19 (Contact Us).
                
                  <ol type="1" class="m-3">
                    <li><strong>Complaints</strong></li>
                    <p>If you have a suggestion on how we can improve our Services or complaints you would like us to address, please contact us at the address set out in Section 19 (Contact Us). If you are a California resident, you may report complaints to the Complaint Assistance Unit of the Division of Consumer Services of the California Department of Consumer Affairs. Other states may provide similar avenues for lodging complaints. Please check with your state’s consumer protection authority.</p>

                    <li><strong>Changes to this Privacy Policy</strong></li>
                    <p>From time to time, we may change this Privacy Policy for our business purposes and to comply with changes in applicable law. In the event of any substantive or material changes, we will communicate these changes to you by posting the updated Privacy Policy on the Website and/or notifying you of the change via the Website, email, or other methods. Your continued use following such notice constitutes your agreement to follow and be bound by the updated Privacy Policy. If you do not agree with any changes to our Privacy Policy, please contact us using the information set forth in Section 19 (Contact Us).</p>

                  </ol>
                
                
                </P>

                










            </div>
           
        </div>
        
      </div>
      <hr>
      <h6>Please print and retain a copy of this privacy policy for your records.</h6>
      <hr>
      copyright &copy;2024 opltalex tech solution
</body>
</html>